@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@theme {
  --color-resume-red-100: #c47676;
  --color-resume-red-200: #de4a4a;
  --color-resume-teal-100: #00b2da;
  --color-resume-teal-200: #0293b4;
  --color-resume-teal-300: #76a1c4;
  --color-resume-purple-100: #7876c4;
  --color-resume-purple-200: #ab4dca;
  --color-resume-pink-100: #b176c4;
  --color-resume-green-100: #76c48d;
  --color-resume-yellow-100: #c4a076;
  --color-resume-gray-100: #c7c7c7;
  --color-resume-gray-200: #3d3d3d;

  --font-resume-ubuntu: "Ubuntu", sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}
