@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@theme {
  --color-resume-red-100: #C47676;
  --color-resume-red-200: #DE4A4A;
  --color-resume-teal-100: #00B2DA;
  --color-resume-teal-200: #0293B4;
  --color-resume-teal-300: #76A1C4;
  --color-resume-purple-100: #7876C4;
  --color-resume-purple-200: #AB4DCA;
  --color-resume-pink-100: #B176C4;
  --color-resume-green-100: #76C48D;
  --color-resume-yellow-100: #C4A076;
  --color-resume-gray-100: #C7C7C7;
  --color-resume-gray-200: #3D3D3D;

  --font-resume-ubuntu: "Ubuntu", sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}
